# **필요한 라이브러리 불러오기**
***

In [358]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **Dataset 불러오기**
***

In [359]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [360]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [361]:
test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

# **Dataset 탐색하기**
***

In [362]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

### **의사결정**

* PassengerId, Cabin은 분석을 위해 문자열을 분리
* CryoSleep, VIP는 bool값이므로 데이터타입을 변경
* Age는 나이이므로 int형으로 변환

# **데이터 이해하기**
***

### **사용할 함수 정의**

In [363]:
def positive_num_split(dataframe: pd.DataFrame, col: str, div_num: int, new_col_name: str) -> pd.DataFrame:
    """
    데이터 프레임에서 한 컬럼의 수를 원하는 수로 나누어서 새 데이터 프레임을 반환하는 함수
    :param dataframe: 데이터 프레임
    :param col: 나눌 컬럼의 이름
    :param div_num: 나눌 숫자
    :param new_col_name: 결과를 담을 새 컬럼의 이름
    :return: 새로운 데이터 프레임
    """
    # 음수 예외 처리 필요
    # 데이터 프레임을 생성하는 기능, 숫자를 나누는 기능, 함수 분리 필요
    lst = []
    for i in dataframe[col]:
        if pd.isna(i):
            lst.append(None)
        elif i >= 0:
            range_num = int(i) // div_num
            lst.append(f"{range_num * div_num}-{(range_num + 1) * div_num}")
    return pd.DataFrame(lst, columns=[new_col_name])

In [364]:
def str_split_grouping(dataframe: pd.DataFrame, col: str, split_str: str) -> None:
    """
    데이터 프레임에서 컬럼의 데이터 문자열을 문자 기준으로 분리, 기존 컬럼 삭제 후 새 컬럼들로 반환하는 함수
    :param dataframe: 데이터 프레임
    :param col: 문자열을 분리할 컬럼
    :param split_str: 분리할 기준을 나타내는 문자
    :return: 미완성 함수라 없음
    """
    # 함수가 너무 많은 기능을 가지고 있음 분리 필요
    # 리턴 값이 없음
    dataframe[['group', 'member']] = dataframe[col].str.split(split_str, expand=True)
    group_size = dataframe.groupby('group').size()
    grouping_member = set(group_size[group_size > 1].index)
    dataframe['solo'] = ~dataframe['group'].isin(grouping_member)
    dataframe['group_size'] = dataframe['group'].map(group_size).fillna(0).astype(int)
    dataframe.drop(col, axis=1, inplace=True)

### **PassengerId 문자열 '/'기준으로 분리시키기**

In [365]:
str_split_grouping(train, 'PassengerId', '_')
str_split_grouping(test, 'PassengerId', '_')